body {
    background-color: rgb(218, 247, 88) ;
    font-family:Roboto Condensed;

}

.quiz-box{
background-color: #E6ECF0;
border:5px solid black;
width: 85%;
height: 65vh;
max-height: 450px;
max-width: 830px;
margin-left: auto;
margin-right: auto;
padding: 1%;
}

.quiz-box > img {
    
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.question-area > p {

font-size: 3em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top:5%;
    
}

.answer-area{

    margin : 0 auto ;
    padding: 1%;
    display: block;
    text-align: center;
    }

#bstart{

    vertical-align: center;
}

.score-area {
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    text-align: center;
    position: relative;
    top: 2px;
}

#correct-a {

    display: inline-block;
    color: #139c04;
    font-size: 1.5em;
    position: relative;
    right: 4%;

    
}

#incorrect-a {
    
    display: inline-block;
    color: #f61a0a;
    font-size: 1.5em;
    position: relative;
    left: 4%;

    

}


.b-start {
    margin:auto;
    width: 250px;
    height: 100px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    border-color: green;
    color: green;
    border-radius: 15%;
    font-size: 1.2rem;
    text-align: center;
    }




